* {margin: 0; padding: 0; font-size: 100%; line-height: 1.25em;}
body { color: #333; background: #FFF; min-width: 800px; font-family: "Lucida Sans Unicode", "Arial Unicode MS", "Lucida Sans", "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; font-size: 85%; }
p {margin: 0 0 1em;}
/*a:link, a:visited {color: #568C1E;}
a:hover {color: #020;}*/
a img {border: none;}
.ad {font-size: 0.30em; letter-spacing: 0.2em; text-transform: uppercase; text-align: center; color: #666; position: relative; z-index: 1;}
.ad img, .ad object {display: block; margin: 0 auto 0.1em;}
img {vertical-align: text-bottom;}
.pl {vertical-align: text-bottom;}
div.sub {padding: 0; margin: 0 auto; width: 90%; max-width: 950px;}
div.iewinfix {clear: both;}
html>body {padding-top: 0em;}
body>#panel {position: relative; top: 0; width: 100%; min-width: 800px; z-index: 1000; }
#masthead {background: #581; padding-bottom: 0.75em;   text-align: right;}
#masthead .sub {position: relative;}
#masthead a {color: #CF9;}
#masthead a:hover {color: #240; background: transparent;}
#home {position: absolute; top: 0.5em; left: 0; width: 300px; text-align: left;}
#controls {font-size: .9em; padding: 0.5em 0; margin-right: -0.33em; color: #240; height: 1.1em;}
#controls li {display: inline; list-style: none;}
#controls li, #controls a {padding-right: 0.33em;}
#controls img {line-height: 1px; vertical-align: -4px; margin-top: -4px;}
#search {width: 66%; margin: 0 0 0 auto;   position: relative;}
#search .text {margin: 0 0.1em 0; width: 24em;   font: 1.2em "Trebuchet MS", Verdana, sans-serif;}
#search .image {height: 1.90em; vertical-align: bottom;}
#nav {background: #360 url(http://cache.lexico.com/g/d/nav_shadow.gif) repeat-x;   height: 2.85em; margin-bottom: 0.70em; font-size: 86%;   position: relative; white-space: nowrap;}
#nav ul {float: right;}
#nav li {float: left; padding: 0 0 0 8px; margin-left: 0.5em;   margin-top: 1px;   background: #240 url(http://cache.lexico.com/g/d/nav_left.gif) 0 100% no-repeat;   list-style: none;}
#nav a {float: left; display: block; width: .1em; color: #CF9; background: url(http://cache.lexico.com/g/d/nav_right.gif) 100% 100% no-repeat;   padding: 7px 9px 4px 2px;   text-decoration: none; white-space: nowrap;}
#nav .sub > ul a {width: auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav a {float: none;}
/* End IE5-Mac hack */
#nav a:hover {color: #FFF;}
#nav li.current {background: #581 url(http://cache.lexico.com/g/d/nav_c_left.gif) 0 100% no-repeat;   margin-top: 0;}
#nav li.current a {color: #FFF; background: url(http://cache.lexico.com/g/d/nav_c_right.gif) 100% 100% no-repeat;   padding: 8px 9px 5px 1px;}
/* main content section styles */
#main {clear: both; text-align: center;}
.column {float: left; text-align: left; margin: 1.1em 0;}
/* primary column styles */
#primary {width: 72%; padding-right: 1%;   border-right: 1px solid #CCC;}
#primary-full {}  
#main ul, #main ol {padding-left: 0.75em; margin-bottom: 1.5em;   font-size: 0.925em;}
#main ul li {list-style: none;   background: url(http://cache.lexico.com/g/d/bullet_gray.gif) 0 0.5em no-repeat;   margin-bottom: 0.33em; padding-left: 8px;}
#main ul ul, #main ul ol, #main ol ul, #main ol ol {font-size: 1em;}
#main div.video {padding: 1em 0 0.75em; text-align: center;   border: 1px solid #CCC; border-width: 1px 0;   background: #F7F7F7; }
/* sidebar styles */ 
#sidebar {width: 25%; margin-left: 1%; }
#sidebar p {font: 0.925em "Trebuchet MS", Verdana, sans-serif; line-height: 1.5em;}
#premium-box {background: #E3F4F8 url(http://cache.lexico.com/g/d/premium_blue.gif) 100% 100% no-repeat;   border: 1px solid #003A66; padding: 0.5em 1em 0.5em 1em; width: 132px; }
#premium-box ul {padding-bottom: 0.5em; font-size: 0.925em;}
#premium-box a {color: #C30;}
#premium-box a:hover {color: #000;}
#sidebar .ad {width: 160px; margin-right: auto; }
#sidebar .ad-home {width: 300px; margin-right: auto; text-align: center; font-size: 0.75em; letter-spacing: 0.2em; text-transform: uppercase;}
#sidebar .video {width: auto;}
#footer {clear: both; font-size: .9em; text-align: center;}
#footer a {color: #555;}
#footer a:hover {color: #000;}
#footer .sub {border-top: 1px solid #CCC; margin-top: 0.75em; padding-top: 0.75em;}
#footer li {display: inline; list-style: none;}
#footer p {padding: 0.45em 0;}
/* jim added */
#premium-promo a {color: #C30;}
#premium-promo a:hover {color: #000;}
#sidebar div.premium-services a {color: #C30;}
#sidebar div.premium-services a:hover {color: #000;}
#primary h1 {font: 1.5em Georgia, serif; color: #666; padding-bottom: .5em;}
#primary h1 em {color: #333; font-weight: 100; padding-bottom: .5em;}
.ad-home {width: 728px; margin-right: auto; text-align: center; font-size: 0.30em; letter-spacing: 0.2em; text-transform: uppercase;}
.banner { font-size: 0.30em; }
div.ad {font-size: 0.30em; }

.premium-services {background: #E3F4F8 url(http://cache.lexico.com/g/d/premium_blue.gif) 100% 100% no-repeat; border: 1px solid #003A66; margin-bottom: 1em; padding: .5em .5em 0em .5em;}
.premium-services h4 { color: #003A66; margin-bottom: 0.3em; font: 1.5em Georgia, serif;}
.premium-services ul  {padding-left: 0.75em; margin-bottom: 1.5em;   font-size: 0.925em;}
.premium-services ul li {list-style: none;   background: url(http://cache.lexico.com/g/d/bullet_gray.gif) 0 0.5em no-repeat;   margin-bottom: 0.33em; padding-left: 8px;}
.premium-services ul ul, .premium-services ul ol, .premium-services ol ul, .premium-services ol ol {font-size: 1em;}

