.ask_ad_left {
	color: #0060b6;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	padding-left: 16px;
	padding-top: 6px;
	text-decoration: none;
}


.ask_ad_right {
	color: #0060b6;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	padding-left: 6px;
	padding-top: 6px;
	text-decoration: none;
}


.ask_ad_a {
	text-decoration: none;
}
.ask_ad_a a, .ask_ad_a a:link, .ask_ad_a a:visit, .ask_ad_a a:hover {
	text-decoration: none;
}