#primary {width: 63%; padding-right: 1%; border-right: 1px solid #CCC;}
#sidebar {width: 29%; margin-left: 1%; }
#premium-box {background: #E3F4F8 url(http://cache.lexico.com/g/d/premium_blue.gif) 100% 100% no-repeat; border: 1px solid #003A66; padding: 0.5em 1em 0.5em 1em; width: 274px;}
#sidebar .ad {width: 300px; margin-right: auto; }
#radlinks { width: 271px; padding: 1em; background: #f8f8f8; border: 1px solid #DCDCDC; margin-bottom: 1em; }
#promo { background-color: #f8f8f8; padding: 0.75em; margin: 0em 0 1em 0; font-size: 0.925em; border-color: #DCDCDC; border-width: 1px; border-style: solid; width: 279px; }
