.gray {margin: 1em 0; padding: 1em; background: #EFEFEF; border-color: #DCDCDC; border-width: 1px; border-style: solid;}
.wotd {padding-left: 1em; padding-right: 1em;}
.wotd_small {padding-top: 1em; font-size: .7em;}
/*wotd today*/
.hw { color: #333; font-size: 1.2em; font-weight: bold; }
.examples { padding: 1em; background: #EFEFEF; text-align: left; border-color: #DCDCDC; border-width: 1px; border-style: solid;}
#promo h3 {color: #003a66; font: bold 1.1em "Trebuchet MS", Verdana, sans-serif; margin-bottom: 0.33em;}