# Evanescent machine idle detection and shutdown tool.
# Copyright (C) 2008  James Shubin, McGill University
# Written for McGill University by James Shubin <purpleidea@gmail.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# TODO: i should probably make this into a better example file

#########
# NOTES #
#########
# it would _not_ be wise to allow all admin users to be excluded from shutdown
# because if an absent minded admin leaves his/her root session open, then that
# session would actually get logged out given enough inactive time, hopefully
# before a malicious user comes along and does something bad.

##########
# CONFIG #
##########
config:
    debugmode: False                                            # debug mode
    wordymode: True                                             # talk a lot (implied if debugmode is on)
    idlelimit: 3600                                             # 1 hour before you're idle
    fastsleep: 60                                               # how often do we poll after the user has been warned
    countdown: 300                                              # five minute countdown before shutdown
    theconfig: '/etc/evanescent.conf.yaml'                      # the config file
    logserver: [logmaster, 514]                                 # syslog server
    updatemsg: True                                             # update the impending logoff msg every fastsleep or not
    logformat: '%(asctime)s %(levelname)-8s %(name)-17s %(message)s'
    iconimage: '/usr/share/evanescent/evanescent.png'           # filename for `systray' icon
    #TODO: this option might get removed and replaced by smart polling; see: get_exclusions_changed_time
    sleeptime: 600                                              # poll/check computer every 10 minutes

##############
# EXCLUSIONS #
##############
exclusions:
  - host: dude
    user: someone else
    date: 19-04-1984
    time: '[13:45:26, 15:45:06['

  - host: dazzle
    user: james
    fqdn: dazzle.CS.McGill.CA
    note: this a comment

  - user: dude
    time: '[09:00, 17]'
    host: somehost
    note: >
        this is a very long note,
        that can run for multiple lines
        if you have a lot to say.

  - time: '[11, 14:00:00]'
    user: bob

